.color-main{
  color: #ff3300;
}
.color--main-background{
  background: #66ff99;
}
.color--border{
  border-color: #808080;
}
.color--text{
  color: #000000;
}
.color--background{
  background-color:#e6ffe6
}
.color--second{
  color: #ffff66;
}
